<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Registro de Gastos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link active">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">
	
		<div class="row align-items-center mb-4">
			<span class="fw-bold w-auto"
				th:if="${mensual.id == null}">Registro de Gastos</span> <span class="fw-bold w-auto"
				th:unless="${mensual.id == null}">Actualización de Registro</span>	
		</div>
				
		<div class="divider"></div>
		<div class="row">
		
			<form class="mt-4" th:action="@{/mensual/guardar}" th:object="${mensual}" method="POST">

				<input type="hidden" th:field="*{id}" th:value="${mensual.id}">
				
				<div class="mb-3">
					<label class="form-label">Servicio : </label>
					<input class="form-control" th:field="*{nombreServicio}" type="text" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Costo : </label>
					<input class="form-control" type="number" step="0.01" min="0.01" th:field="*{costoServicio}" required>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Fecha de Pago : </label>
					<input class="form-control" type="date" th:field="*{fechaPagoServicio}" required>
				</div>
							
				<div class="mb-3">

					<label class="form-label">Tienda : </label>
				
					<select	th:field="*{tienda}" class="form-control" required>
						<th:block th:each="tienda : ${listaTiendas}">
							<option th:text="${tienda.nombreTienda}" th:value="${tienda.id}"></option>
						</th:block>	
					</select>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
			
		</div>
		
		<br>
	
	</section>
	
	<br>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
