<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/}" class="nav-link active">Tiendas</a></li>
				<li class="nav-item"><a th:href="@{/productos}" class="nav-link">Productos</a></li>
				<li class="nav-item"><a th:href="@{/mensual}" class="nav-link">Gastos Mensuales</a></li>
				<li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
			</ul>
			
		</nav>
	</header>

	<section class="container">

		<div class="row align-items-center mb-4">
			<h4>¡Hola <span sec:authentication="principal.username"></span>!</h4>
		</div>

		<span class="fw-bold w-auto">Administración de Establecimientos</span>
		
		<nav class="d-flex flex-wrap justify-content-between py-3 mb-4">		
			<ul class="nav nav-pills">
				<li class="nav-item"><a th:href="@{/tiendas/nuevo}" class="btn btn-warning">Nuevo Registro</a></li>
			</ul>
		</nav>
		
		<div class="divider">
		</div>
		
		<table class="table table-striped table-bordered mt-4">
			
			<thead>
				<tr class="table-primary">
					<th scope="col">Registro Comercial - NIT</th>
					<th scope="col">Nombre del establecimiento</th>
					<th scope="col">Barrio</th>
					<th scope="col">Zona</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tienda: ${listaTiendas}">
					<td th:text=${tienda.RegistroComercial}></td>
					<td th:text=${tienda.nombreTienda}></td>
					<td th:text=${tienda.barrio}></td>
					<td th:text=${tienda.zona}></td>
					<td><a class="btn btn-primary py-1"
						th:href="@{'/tiendas/editar/' + ${tienda.id}}">Editar</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		<br>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>

</body>
</html>
