<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mi Barrio - Inicio de sesión</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
</head>
<body>

	<header class="container">
		<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4">MiBarrio.com</span>
			</a>
			
		</nav>
	</header>

	<section class="container">
		<div class="row align-items-center mb-4">
			<h1>Inicio de sesión</h1>
			
			<form th:action="@{/login}" method="POST">
				
				<div th:if="${param.error}">
					<div class="alert alert-danger">Usuario o contraseña incorrecta</div>
				</div>

				<div th:if="${param.logout}">
					<div class="alert alert-info">Has cerrado sesión correctamente</div>
				</div>

				<div class="divider"></div>
				<div class="row">
					<div class="mb-3">
						<label for="username">Email : </label>
						<input id="username" type="text" name="username" class="form-control" placeholder="Digita el correo electrónico registrado" required autofocus="autofocus" />
					</div>

					<div class="mb-3">
						<label for="password">Password : </label>
						<input id="password" type="password" name="password" class="form-control" placeholder="Digita la contraseña" required/>
					</div>

					<div class="mb-3">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="submit" class="form-control btn btn-primary" name="login-submit" id="login-submit" value="Iniciar sesión" />
							</div>
						</div>
					</div>
					
				</div>
				
			</form>
			
			<div class="form-group">
				<span>Si eres nuevo usuario <a th:href="@{/form_user}">regístrate aquí</a></span>
			</div>
			
		</div>
		
	</section>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
	</script>
</body>
</html>
